.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20rem;
    border: 0.2rem transparent solid;
    border-radius: 0.5rem;
    color: white;
}

.pokemon .top {
    display: flex;
}

.pokemon .top > * {
    flex: 1;
}

.pokemon .types {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon .name {
    margin: 0 auto;
}

.pokemon .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-group {
    margin: 0.3rem;
}

.pokemonId {
    color: #fff;
    font-size: 2rem;
    opacity: .3;
}